



.nav{
    padding-left: 8rem;
}

#log{
    margin-left: -7rem;
}
#nav-link {
    padding: 5px 40px;
    margin-left: 5rem;
}

#nav-link2{
    padding: 8px 45px;
    margin-left: 2rem;
}

.h{
    height: 50px;
}

#im{
    margin-left:-6rem;
    width: 150px;
}

.nav{
    margin-left: -2rem;
}