



.nav{
    padding-left: 8rem;
}

#log{
    margin-left: -7rem;
}
#nav-link {
    padding: 5px 40px;
    margin-left: 5rem;
}

#nav-link2{
    padding: 8px 45px;
    margin-left: 2rem;
}

.h{
    height: 50px;
}

#im{
    margin-left:-6rem;
    width: 150px;
}

.vh{
    width: 50%;
    height: 80%;
    margin-top: 5rem;
}

#man{
    width: 250px;
    height: 250px;
    margin-top: 1rem;
    border-radius: 50%;
}

#woman{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-top: 1rem;
}

.mmh{
    height: 500px;
}



.top1{
    margin-top: 4rem;
    margin-left: -0rem;
    width: 200px;
    background-color: rgba(0, 153, 255, 0.935);
}

.top2{
    margin-top: -6.7rem;
    margin-left: 20rem;
    border: solid;
    width: 210px;
}

.top3{
    margin-top: -7rem;
    margin-left:40rem;
    border: solid;
    width: 210px;
    background-color: rgba(0, 153, 255, 0.935);
    
}

.top4{
    margin-top: -7rem;
    margin-left: 60rem;
    border: solid;
    width: 210px;
    
}

.log{
    background-color: rgba(0, 153, 255, 0.935);
    padding: 15px 50px;
    margin-left: 15rem; 
    margin-top: 3rem;
    width: 270px;
    border-radius: 5px;
}

.btn3{
    margin-top: -9.5rem;
    background-color: rgba(0, 153, 255, 0.935);
    padding: 15px 50px;
    width: 270px;
    margin-left: 45rem;
    border-radius: 5px;
}

.btn4{
    background-color: rgba(0, 153, 255, 0.935);
    padding: 15px 20px;
    margin-left: 45rem; 
    margin-top: 3rem;
    width: 270px;
    border-radius: 5px;
}

.hello{
    background-color: rgba(255, 255, 255, 0.484);
    height: 50vh;
    margin-top: 9rem;
}

.btn{
    background-color:rgba(0, 153, 255, 0.935);
    padding: 15px 60px;
    margin-left: 15rem;
    margin-top: 2rem;
}

a{
    text-decoration: none;
}

